*{
    font-family: sans-serif;
list-style: none;
}

.bgb{
    background-color: #1abc9c;
    height: 100vh;
}

.bgg{
    background-color: #2ecc71;
}


.leftsidebar, .maincontent{

    padding-top: 50px;
}
.leftsidebar{
    height: 1000px;
}


/*nav bar*/
.ui-menu{
    width: 400px;
    top: 100px;
    position: absolute !important;
    background-color: #ffffff !important;
}



/*left side bar*/


.holecheckbox{

    padding-left: 20px !important;
}



/*discount content section*/


.caption h4{

    color: #e74c3c;
    text-align: center;
}


img{
    width: 100%;
}

.ctfl{

    margin: 0px;
    padding: 0px;
}

.formchk{
    margin-top: 20px !important;
}

.checkboxgroup {
    position: relative;
    left: 30px;

 
    
}

.leftsidebar{
    padding-left: 40px;
}


 .chekboxheding p{
    color: black;
    font-weight: bold;
    padding: 0;
    margin: 0;

    font-size: 20px;
}

.checkbox label  i{

    color: #fff;
}

.formfloat{

    margin-right: 400px;
}

/*Login page*/

.loginpage, .registrationpage{


    background-color: #74b9ff;
    height: 100vh;

}



.loginpage{


    background-color: #1abc9c;
    height: 100vh;

}

.postrow{
    padding-top: 100px;
}

.regpading{
    padding-top: 100px;
}

.loginpage label, .registrationpage{
    color: #fff;
}


.loginpage .loginbtn{
    
    margin: 0 auto;
}

.loginpage{
    color: #fff;
}

.loginpage .register{
    text-decoration: underline;
}


/*registrationrow*/
.registrationrow{

    padding-top: 100px;
}

.registrationrow p{

    text-decoration: underline;
}

.thumbnail >img{
    height: 300px;
}

/*admin panel*/
.leftadmin{
    background: #1abc9c;
    width: 400px;
    height: 100vh;
}



.wrapper{
    display: flex;

    width: 100%;

}

.leftadmin{

    width: 20%;


}

.admincontent{
width: 100%;

}


.menuouter{
    margin: 0;
    padding: 0;
}

.menuouter li{
    border-bottom: 1px solid #ffffff;
    padding: 20px;

}

.menuouter li:hover{
    background: #74b9ff;
    cursor: grab;
}

.menuouter li a{
    color: white;
    font-size: 18px;
    text-decoration: none;
}

.caption a{
    color: #fff;
}

/*about me*/

.aboutme h1{

    display: inline;
}